html,body{
	margin: 0px; 
	padding: 0px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.container{
  width:100%;
	padding:0px;
	margin:0px;
}

.col{
	width: 33%;
	float:left;
	min-width: 320px;	
}

.clearfix{
	clear:both;
}

.base-room{
	width:320px;
	height:320px;
	padding:0px;
	margin:20px auto;
}
   
.base-room-body
{
	width:100%;
	height:100%;
	position:relative;
	border:1px solid #000;
	overflow:hidden;
}

.wall{
	display:block;
	position:absolute;
	background-color:#442228;
	width:80px;
	height:40px;
	border-radius:3px;
	box-shadow: 0px 0px 2px #442228;
}

.bol{
	display:block;
	position:absolute;
	background-color: #246613;
	width:40px;
	height:60px;
	bottom:0px;
	left:45%;
	box-shadow: 0px 0px 2px #246613;
}

.info-block, .scores-block{
	padding: 3px;
	line-height: 30px;
	font-size: 16px;
	min-height: 35px;
}


.btn-lie,
.btn{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 3px;
	color:#888;
}
.btn-lie:hover{
	color:#555;
}

.btn{
	padding: 5px;
	font-size: 18px;
	color: #555;
	border: 1px solid #666;
}

.info-block-item-content{
	min-height: 35px;
	margin-top:5px;
}

.scores-block-item-content{
	padding-left:10px;	
}
.scores-block-item-content span{
	padding-left:10px;	
	font-weight: bold;
}

.nameGame{
	text-align:center;
	font-size:24px;
}